*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,
body {
    font-family: "Roboto", sans-serif;
    color: #636363;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}
.title h6 {
    font-weight: 600;
    font-size: 22px;
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 20px;
    color:#f55f8d;
}
.title h1 {
    font-size: 60px;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom:15px;
    color:#262626;
}
.title h3 {
    font-size: 1.95rem;
    font-weight: 700;
}
.title p {
    font-size:18px;
    margin-bottom:15px;
    color:#636363;
}
.title ul li span {
    color:#636363;
}
li {
    list-style: none;
}
ul {
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}
img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
h1,h6,h4,h3,h2 {
    font-family: "Poppins", sans-serif;
    color:#262626;
}
.animate__fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 2s;
}
.container{
    width: 1140px;
}
a {
    text-decoration: none !important;
}

.a1 {
    width: 100%;
    height: auto;
    background-color: black;
    color:white;
    opacity:1 !important;
    z-index: 9999;
}
.fade-up {
    opacity:1 !important;
    z-index: 9999;
}




.header {
    width:100%;
    margin:auto;
}
.header__menu {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    margin:auto;
    z-index: 100;
}
.menu {
    display:flex;
    align-items: center;
    justify-content: space-between ;
    height:130.25px;
    padding: 0 140px;
    margin: 0 30px;
}
.header__tag {
    display:flex;
    align-items: center;
}
.hover__menu a:hover span {
    color: #f55f8d;
}
.hover__menu a span {
    display: inline-block;
    transition: all 1s;
    color: #262f5a;
}
.hover__menu a:hover span {
    animation: upToDown 0.3s;
}
.header__tag ul li {
    display:inline-block;
}
.header__tag ul li a {
    text-decoration: none;
    padding: 55px 15px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.35;
}
.header__logo {
    margin:0 0 0 -42px;
}
.header__tag ul li a i {
    font-size:9px;
}
.gradient {
    background-image:linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%
    );
    background-size: 200%;
    border-color: transparent !important;
    transition: all 0.5s;
    display: block;
    color:#fff;
}
.btn_clasic{
    background-color:#dd3e6e;
}
.button {
    padding: 20px 35px;
    display: flex;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    border: 1px solid;
    text-decoration: none;
}
.gradient:hover {
    background-position: right center;
    color:white;
}
.btn_clasic:hover {
    background-color:#dd3e6e;
}
.header__content {
    height: 773.95px;
    width:1425px;
    position: relative;
    overflow: hidden;
}
.header__content .title h1 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 15px;
    color: #262626;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 180px;
}
.row {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 0;
    display:flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
.col-lg-7 {
    width:58.33%;
}
.list__header li {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top:10px;
}
.list__header li::before {
    content: "\f00c";
    font-family: 'Line Awesome Free';
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 35px;
    font-weight: 700;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.list__header li span {
    margin-left:10px;
}
.button__content {
    width:180px;
    margin-top: 20px;
}
.col-lg-5 {
    width:41.67%
}
.banner__menu {
    width: 570px;
    position: relative;
    margin-left: 50px;
}
.banner__menu img {
    width:100%;
    height: 100%;
}
.move__banner {
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: move__banner 5s infinite;
    margin:0 -100px;
}
.move__banner img{
    height: 100%;
    width: 100%;
}

/* services */
.services {
    margin-top:115px;
}
.services .container {
    padding-top:0px;
}
.ser__title {
    width:100%;
    margin:auto;
    text-align: center;
    margin-bottom: 40px;
}
.balance {
    padding:0 15px;
}
.ser__content {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    transition: all 1s;
    text-align: center;
    padding:35px;
}
.ser__content:hover {
    transform: translateY(-15px);
}
.ser__img {
    margin-bottom: 25px;
}
.ser__text h4 {
    font-weight: 700;
    margin-bottom: 15px;
}
.ser__text p {
    color:#636363;
}
.aboutUs__img {
    width:50vw;
    float: right;
    margin: 60px 70px 60px 0;
    position: relative;
}
.aboutUs__img img {
    width:100%;
    border-radius: 0 100px 100px 0;
}
.aboutUs__img:after {
    content: "";
    height: 100%;
    background: #fef2f6;
    position: absolute;
    top: 0;
    width: 50vw;
    z-index: -1;
    right: -20px;
    transform: rotate(8deg);
    border-radius: 0 100px 100px 0;
}
.list__aboutUs li {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top:10px;
}
.list__aboutUs li::before {
    content: "\f120";
    font-family: Flaticon;
    font-size: 24px;
    color:rgb(244 95 141);
}
.list__aboutUs li span {
    margin-left:10px;
    font-size: 15px;
    line-height: 25px;
}
.button__aboutUs {
    width: 170px;
    margin-top: 30px;
    font-family: 'Roboto';
    font-size: 15px;
}


.numberRun {
    margin-top: 85px;
    padding-top:80px;
    padding-bottom: 50px;
    background-color: #fffbf7 !important;
}
.numberRun .container {
    padding-top:0px;
}
.numberRun__item {
    margin-bottom: 30px;
    padding:15px;
    text-align: center;
}
.icon__numberRun {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    margin-bottom: 15px;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size:45px;
    color:#fffefe;
}
.icon_numberRun i{
    font-size:40px;
}
.font__number {
    font-size: 65px;
    font-weight: 800;
    line-height: 1;
    color:#f45f8d;
}


.features .title {
    margin-bottom: 40px;
}
#h1__fetures {
    font-size: 60px;
}

.features__item {
    display:flex;
    align-items: center;
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    border-radius: 10px;
    margin-right: 50px;
    margin-bottom: 30px;
    background-color: #fff;
    transition: all .5s;
}
.features__item:hover .icon__features,
.features__item:hover .text__features,
.features__item:hover .text__features h4{
    color:white;
}
.features__item:hover {
    background-image:linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%
    );
    background-size: 200%;
}
.icon__features {
    font-size: 80px;
    line-height: 1;
    color:#f45f8d;
    margin-top:-25px;
}
.text__features {
    color:#636363;
}
.text__features h4 {
    font-weight: 800;
}
.features__item2 {
    margin-left: 50px;
    margin-right: 0px !important;
}
.features__right {
    position: relative;
}
.features__img img {
    position: absolute;
    right: 10%;
}


.portfolio .title{
    text-align: center;
    margin-bottom: 50px;
}
.portfolio .por__img1 {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.por__info {
    position: absolute;
    width:300px;
    margin-top: -90px;
    margin-left: 30px;
    opacity:0;
    
    transform: translateY(100px);
    transition: all .5s;
}
.por__info h5 a {
    font-size: 22px;
    font-weight: 800;
    color:white;
}
.por__info p a {
    font-size:16px;
    color:white;
}
.por__img1 {
    display:flex;
    position: relative;
}
.por__img1 span a{
    position: absolute;
    top: 20px;
    right: 20px;
    background-image:linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%
    );
    z-index: 2;
    color: #fff;
    font-size: 28px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    line-height: 50px;
    background-size: 200%;
    opacity: 0;

    transform: translate(40%, -40%);;
    transition: all 1s;
}
.por__hover:hover .por__info,
.por__hover:hover  .por__img1 span a{
    opacity: 1;
    transform: translate(0);
}
.overlay:before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 10;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
}
.por__hover:hover .overlay:before {
    animation: shine .75s;
}

.por__hover {
    margin-bottom: 28px;
}
i {
    cursor:pointer !important;
}

.choose .title {
    text-align: center;
}
.choose__time {
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    background-image:  linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);;
    display: flex;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 235px;
    background-size: 200%;
    padding: 4px;
    position: relative;
    z-index: 1;
    box-shadow: 0 10px 20px 0 rgba(245, 95, 141, 0.1);
}
.choose__time span {
    font-size: 14px;
    font-weight: 500;
    width: 50%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    transition: all 1s;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
}
.choose__time .month {
    color:black;
    background-color: white;
    border-radius: 6px;

}
.choose__content {
    padding: 35px 60px;
    border: 3px solid transparent;
    border-image: none;
    overflow: hidden;
    transition: all .5s;
    border-image: 100 round;
    margin:10px;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    border-radius: 0.25rem !important;
    background-color: #fff;
}
.choose__content:hover {
    border-image: url(/images/br.png) 1 round;
}
.choose__item {
    text-align: center;
}
.img__choose {
    margin-top:15px;
}
.choose__price h2 {
    margin-top:15px;
    margin-bottom: 25px;
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}
.choose__price small {
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}
.choose__list {
    padding: 15px 0;
    border-top: 1px solid #E1E1F0;
}
.choose__list li:after {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 18px;
    width: 26px;
    height: 26px;
    background: rgb(245 95 141 / 5%);
    display: block;
    position: absolute;
    left: 0;
    color: #f55f8d;
    border-radius: 35px;
    text-align: center;
    top: 6px;
    line-height: 26px;
    transition: all 1s;
}
.choose__list li {
    padding: 5px 0 5px 40px;
    font-size: 18px;
    font-weight: 400;
    color: #262626;
    position: relative;
    text-align: left;
}
.button__choose{
    font-family: 'Roboto';
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    width: 155px;
}

.testimonial .title {
    text-align: center;
}



.testimonial__content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
  }
  
  .testimonial__pic .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f45f8d;
  }
  
  .testimonial__pic {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
  }
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonial__pic .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonial__pic .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  .testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
  }
  .testimonial-name {
      display: block;
  }
  .testimonial__pic .testimonial-pic:before {
    height: 15px;
    width: 15px;
    bottom: 20px;
  }
  .testimonial__pic .testimonial-pic:before, .testimonial__pic .testimonial-pic:after {
    content: "";
    background-color: #f55f8d;;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }
.testimonial__pic .testimonial-pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    z-index: 0;
    opacity: 0;
    transition: all 1s;
}
.testimonial__pic .testimonial-pic .shape-bx:before {
    background-color: #f55f8d;
    height: 35px;
    width: 50px;
}
.testimonial__pic .testimonial-pic .shape-bx:before, .testimonial__pic .testimonial-pic .shape-bx:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 1s;
}
.testimonial__pic .testimonial-pic .shape-bx:after {
    background-image: url(/images/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 35px;
    width: 50px;
}
.testimonial__pic .testimonial-pic:after {
    height: 10px;
    width: 10px;
    bottom: 0;
}
.testimonial__pic .testimonial-pic:before, .testimonial__pic .testimonial-pic:after {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.testimonial__pic .swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1; }
.testimonial__pic .swiper-slide-thumb-active .testimonial-pic:before, .testimonial__pic .swiper-slide-thumb-active .testimonial-pic:after {
    opacity: 1; }
.swiper-pagination-bullet-active {
    background-color: #f55f8d;
}
.testimonial-name {
    font-size: 22px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
    margin-top: 15px;
}
.testimonial-text span {
    font-size: 15px;
    color: #f55f8d !important;
}
.testimonial-text p {
    margin:20px 0;
}
.img__text:before {
    font-family: 'Flaticon';
    top: 10px;
    content: "\f121";
    left: 30px;
    right: auto;
    font-size: 70px;
    color: #f55f8d;
    position: absolute;
    z-index: 10;
    transform: rotate(-180deg);
    font-style: normal;
}

/* ourBlog */
.ourBlog .container {
    padding-top:80px;
}
.ourBlog .title {
    text-align: center;
    margin-bottom: 40px;
}
.owl__item {
    height: 484px;
    width:372px;
    background-color: #feeff3;
    border-radius: 10px;
}
.owl__img a img {
    border-radius: 10px;
}
.owl__date {
    width: 143.3px;
    height: 35px;
    text-align: center;
    border-radius: 6px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%);
    margin-left: 15px;
    margin-top: -20px;
    position: absolute;
    margin-bottom: 0 !important;
}
.owl__date p {
    align-items: center;
    padding: 10px 20px;
    color: #fff !important;
    font-weight: 400;
    line-height: 1;
    font-size: 14px;
}
.owl__text {
    padding:15px;
}
.owl__text h4 {
    font-weight: 700;
    font-size: 1.5625rem;
    margin-bottom: 10px;
    line-height: 1.4;
    margin-top: 20px;
}
.owl__textdown {
    border-top: 1px solid #80808026;
}
.owl__textdown ul {
    display:flex;
    margin-top:20px;
}
.owl__textdown ul li{
    display:flex;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin-right: 20px;
}
.owl__textdown ul li i {
    font-size: 22px;
    color:#f55f8d;
    margin-right: 5px;
}
.owl__textdown ul li a {
    color:#f55f8d;
    margin-left:3px;
}


/* act__logo */
.clients-logo {
    padding: 20px 30px;
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: all 1s; }
    .clients-logo img {
      width: auto !important;
      margin: auto; }
    .clients-logo .logo-hover {
      display: none !important; }
    .clients-logo:hover {
      background: #f55f8d;
      box-shadow: 5px 0 30px 0 rgba(245, 95, 141, 0.4); }
      .clients-logo:hover .logo-main {
        display: none; }
      .clients-logo:hover .logo-hover {
        display: block !important; }
.clients-carousel .clients-logo {
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .clients-carousel .clients-logo:after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: all 1s; }
  .clients-carousel .clients-logo:hover {
    box-shadow: 5px 0 30px 0 rgba(245, 95, 141, 0.5); }
    .clients-carousel .clients-logo:hover:after {
      opacity: 1; }


/* footer */
footer {
    color: #fff;
    font-size: 15px; }
    footer .widget {
      margin-bottom: 30px; }
    footer strong {
      color: #fff; }
    footer .footer-logo {
      margin-bottom: 25px; }
      footer .footer-logo img {
        max-width: 100%; }
    footer .widget-logo ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      footer .widget-logo ul li {
        display: inline-block;
        flex: 50%;
        padding: 0 15px 15px 0px; }
    footer .widget_about p {
      margin-bottom: 20px;
      line-height: 24px;
      opacity: 0.6; }
    footer .footer-title {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 10px;
      margin-bottom: 30px;
      position: relative;
      color: #fff;
      line-height: 1.2; }
      footer .footer-title:before, footer .footer-title:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        border-radius: 20px;
        background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
        background-size: 200%; }
      footer .footer-title:before {
        width: 15px; }
      footer .footer-title:after {
        width: 45px;
        left: 20px; }
    footer .footer-top {
      background: #f55f8d;
      padding: 70px 0 30px; }
      @media only screen and (max-width: 767px) {
        footer .footer-top {
          padding: 50px 0 20px; } }
    footer .footer-bottom {
      background-color: #7b1534;
      font-size: 15px;
      padding: 15px 0; }
      footer .footer-bottom .copyright-text a {
        font-weight: 400; }
      @media only screen and (max-width: 767px) {
        footer .footer-bottom .text-left,
        footer .footer-bottom .text-right {
          text-align: center !important; }
        footer .footer-bottom .text-right {
          margin-top: 10px; } }
    footer .widget-link li {
      display: inline-block;
      text-transform: uppercase;
      margin-left: 20px; }
      @media only screen and (max-width: 767px) {
        footer .widget-link li {
          margin-left: 8px;
          margin-right: 7px; } }
    footer .widget-link a {
      color: #fff; }
    footer .widget_getintuch ul li {
      position: relative;
      padding: 8px 0;
      display: flex;
      align-items: center; }
      footer .widget_getintuch ul li i {
        height: 40px;
        width: 40px;
        min-width: 40px;
        line-height: 40px;
        margin-right: 10px;
        text-align: center;
        background-color: #f55f8d;
        display: block;
        border-radius: 50px; }
      footer .widget_getintuch ul li span {
        opacity: 0.6; }
    footer .copyright-text {
      color: rgba(255, 255, 255, 0.5); }
    footer .wp-block-latest-posts,
    footer .wp-block-categories-list,
    footer .wp-block-archives-list,
    footer .widget_categories ul,
    footer .widget_archive ul,
    footer .widget_meta ul,
    footer .widget_pages ul,
    footer .widget_recent_comments ul,
    footer .widget_nav_menu ul,
    footer .widget_recent_entries ul,
    footer .widget_services ul {
      color: rgba(255, 255, 255, 0.6); }
      footer .wp-block-latest-posts a:hover,
      footer .wp-block-categories-list a:hover,
      footer .wp-block-archives-list a:hover,
      footer .widget_categories ul a:hover,
      footer .widget_archive ul a:hover,
      footer .widget_meta ul a:hover,
      footer .widget_pages ul a:hover,
      footer .widget_recent_comments ul a:hover,
      footer .widget_nav_menu ul a:hover,
      footer .widget_recent_entries ul a:hover,
      footer .widget_services ul a:hover {
        color: #fff; }
  
  .footer-info {
    border-bottom: 1px solid #E1E1F0;
    margin-bottom: 30px;
    padding-bottom: 10px; }
    .footer-info .footer-logo {
      margin-bottom: 10px; }
    .footer-info .icon-bx-wraper {
      display: flex;
      align-items: center; }
      .footer-info .icon-bx-wraper .icon-cell {
        color: #fff; }
        .footer-info .icon-bx-wraper .icon-cell i {
          font-size: 50px; }
      .footer-info .icon-bx-wraper p {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6); }
        .footer-info .icon-bx-wraper p strong {
          color: #fff;
          font-weight: 800;
          font-size: 18px; }
        @media only screen and (max-width: 1199px) {
          .footer-info .icon-bx-wraper p {
            font-size: 15px; } }
    @media only screen and (max-width: 991px) {
      .footer-info .footer-info .icon-bx-wraper p {
        font-size: 16px; }
      .footer-info .footer-info .footer-logo {
        margin-bottom: 20px; } }
  
  .contact-info-bx li {
    padding-bottom: 10px;
    position: relative;
    padding-left: 30px;
    padding-top: 2px; }
    .contact-info-bx li strong {
      font-weight: 400; }
  
  .contact-info-bx i {
    width: auto;
    height: 22px;
    color: #fff;
    line-height: 26px;
    text-align: center;
    border-radius: 30px;
    margin-right: 5px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 22px; }
  
  .site-footer.style-1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #f55f8d; }
    .site-footer.style-1 .footer-top {
      background: transparent; }
      .site-footer.style-1 .footer-top .widget_services ul {
        margin-top: -5px; }
    @media only screen and (max-width: 1199px) {
      .site-footer.style-1 .footer-top .widget_services {
        padding-left: 0; } }
    .site-footer.style-1 .footer-title:before,
    .site-footer.style-1 .footer-title:after {
      background: #fff; }
    .site-footer.style-1 .copyright-text a {
      color: #fff; }
  
  .site-footer.style-2 {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: auto !important;
    background-color: #0e1b1f;
    background-size: contain;
    z-index: 1; }
    .site-footer.style-2:before {
      content: "";
      background-image: url(/images/pattern2.png);
      background-position: left top;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
    .site-footer.style-2 .dlab-social-icon li a {
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff; }
    .site-footer.style-2 .footer-top {
      background: transparent;
      padding-top: 300px; }
    .site-footer.style-2 .container + .footer-top {
      padding-top: 70px; }
    .site-footer.style-2 .footer-bottom {
      background-color: #1f343b;
      padding: 10px 0; }
    @media only screen and (max-width: 1199px) {
      .site-footer.style-2 .footer-top .widget_services {
        padding-left: 0; } }
  
  .site-footer.style-3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #f55f8d; }
    .site-footer.style-3 .footer-top {
      background: transparent; }
  .dlab-subscribe {
    padding: 50px 60px;
    background-color: #fff;
    z-index: 99;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
    background-image: url(/images/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%; }
#footer .container {
    padding:0 0 !important;
}
.__cf_email__ {
    color:#fff;
}
.wp-block-latest-posts,
.wp-block-categories-list,
.wp-block-archives-list,
.widget_categories ul,
.widget_archive ul,
.widget_meta ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_nav_menu ul,
.widget_recent_entries ul,
.widget_services ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }
  .wp-block-latest-posts li,
  .wp-block-categories-list li,
  .wp-block-archives-list li,
  .widget_categories ul li,
  .widget_archive ul li,
  .widget_meta ul li,
  .widget_pages ul li,
  .widget_recent_comments ul li,
  .widget_nav_menu ul li,
  .widget_recent_entries ul li,
  .widget_services ul li {
    padding-bottom: 1.125rem;
    margin-bottom: 0.8125rem;
    position: relative;
    padding: 0.5rem 0rem 0.5rem 0.9375rem;
    margin-bottom: 0;
    line-height: 1.25rem; }
    .wp-block-latest-posts li a,
    .wp-block-categories-list li a,
    .wp-block-archives-list li a,
    .widget_categories ul li a,
    .widget_archive ul li a,
    .widget_meta ul li a,
    .widget_pages ul li a,
    .widget_recent_comments ul li a,
    .widget_nav_menu ul li a,
    .widget_recent_entries ul li a,
    .widget_services ul li a {
      color: inherit;
      text-transform: capitalize;
      -webkit-transition: all 1s;
      -ms-transition: all 1s;
      transition: all 1s;
      position: relative; }
      .wp-block-latest-posts li a:before,
      .wp-block-categories-list li a:before,
      .wp-block-archives-list li a:before,
      .widget_categories ul li a:before,
      .widget_archive ul li a:before,
      .widget_meta ul li a:before,
      .widget_pages ul li a:before,
      .widget_recent_comments ul li a:before,
      .widget_nav_menu ul li a:before,
      .widget_recent_entries ul li a:before,
      .widget_services ul li a:before {
        content: "\f105";
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        position: absolute;
        left: 0;
        top: 8px;
        display: block;
        left: -15px;
        top: -2px; }
      .wp-block-latest-posts li a:hover,
      .wp-block-categories-list li a:hover,
      .wp-block-archives-list li a:hover,
      .widget_categories ul li a:hover,
      .widget_archive ul li a:hover,
      .widget_meta ul li a:hover,
      .widget_pages ul li a:hover,
      .widget_recent_comments ul li a:hover,
      .widget_nav_menu ul li a:hover,
      .widget_recent_entries ul li a:hover,
      .widget_services ul li a:hover {
        color: var(--primary);
        transform: translateX(10px); }
    .wp-block-latest-posts li li,
    .wp-block-categories-list li li,
    .wp-block-archives-list li li,
    .widget_categories ul li li,
    .widget_archive ul li li,
    .widget_meta ul li li,
    .widget_pages ul li li,
    .widget_recent_comments ul li li,
    .widget_nav_menu ul li li,
    .widget_recent_entries ul li li,
    .widget_services ul li li {
      border-bottom: none;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      line-height: 1.375rem; }
      .wp-block-latest-posts li li:last-child,
      .wp-block-categories-list li li:last-child,
      .wp-block-archives-list li li:last-child,
      .widget_categories ul li li:last-child,
      .widget_archive ul li li:last-child,
      .widget_meta ul li li:last-child,
      .widget_pages ul li li:last-child,
      .widget_recent_comments ul li li:last-child,
      .widget_nav_menu ul li li:last-child,
      .widget_recent_entries ul li li:last-child,
      .widget_services ul li li:last-child {
        border-bottom: 0;
        padding-bottom: 0; }
      .wp-block-latest-posts li li:before,
      .wp-block-categories-list li li:before,
      .wp-block-archives-list li li:before,
      .widget_categories ul li li:before,
      .widget_archive ul li li:before,
      .widget_meta ul li li:before,
      .widget_pages ul li li:before,
      .widget_recent_comments ul li li:before,
      .widget_nav_menu ul li li:before,
      .widget_recent_entries ul li li:before,
      .widget_services ul li li:before {
        top: 0.5rem;
        left: 0; }
  .wp-block-latest-posts ul,
  .wp-block-categories-list ul,
  .wp-block-archives-list ul,
  .widget_categories ul ul,
  .widget_archive ul ul,
  .widget_meta ul ul,
  .widget_pages ul ul,
  .widget_recent_comments ul ul,
  .widget_nav_menu ul ul,
  .widget_recent_entries ul ul,
  .widget_services ul ul {
    padding-left: 1.25rem;
    margin-top: 0.5rem;
    margin-left: -0.9375rem; }




.dlab-social-icon li {
  display: inline-block; }
  .dlab-social-icon li a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    color: #f55f8d;
    background-color: #fff;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    margin: 2px; }
    .dlab-social-icon li a:hover {
      color: #fff;
      background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
      background-size: 200%; }
.copyright-text a {
    color:#f55f8d;
}
#footer h2 {
    font-weight: 700;
    font-size:28px;
}
.form-control {
    padding:15px 20px;
    border-radius: 0.5rem;
    border: 1px solid #fff;

}
.shadow {
    border-radius: 0.5rem;
    border: 1px solid #fff;
}
.btn-email {
    padding: 15px;
    width: 90px;
}
.dlab-subscribe .form-control:hover{
    border-color: #f55f8d;
}
.btn-primary:hover i{
    animation: toLeftFromRight 0.5s forwards;
}
#footer .input-group-addon .btn-email {
    font-size:20px;
    border-radius: 0 .5rem .5rem 0;
}

@keyframes toLeftFromRight {
    49% {
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
        transform: translateX(-100%);
    }
    51% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
} 

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
}
.animated_h6 {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animated_h1 {
    animation-delay: .5s;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animated_p {
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animated_ul {
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animated_button {
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animated_img {
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-fill-mode: both;
}


@keyframes zoomIn {
    0% {
        transform: scale3d(0.3, 0.3, 0.3);
        opacity: 0
    }
    50% {
        opacity: 1;
    }
}
.zoomIn {
    opacity: 1;
    animation-name: zoomIn;
}
.animated_img_hover {
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}
.fadeInLeft {
    opacity: 1;
    animation-name: fadeInLeft;
}
.animated_Left {
    animation-duration: 1s;
    animation-fill-mode: both;
}


/* backtoTop */
.backtoTop {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border-style: solid;
    box-shadow: -4px 4px 24px -10px #f55f8d !important;
    background: #f55f8d;
    border-color: #f55f8d;
    bottom: 15px;
    color: #fff;
    line-height: 50px;
    margin: 0;
    position: fixed;
    right: 15px;
    text-align: center;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}
.fadeInRight {
    opacity: 1;
    animation-name: fadeInRight;
}
.animated_Right {
    animation-duration: 1s;
    animation-fill-mode: both;
}




@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@media (min-width: 1400px) {
    .container {
      width: 1200px !important;
    }
  }

@keyframes shine {
    100% {
        left:125%;
    }
}